---
import Layout from "../../layouts/Layout.astro";
import heroimage from "/public/images/res-1.jpg";
import { Image } from "astro:assets";
import BlogCard from "../../components/BlogCard.astro";
import Blogs from "../../assets/blog-posts.json";
---

<Layout>
  <div class="container">
    <div class="hero-image">
      <Image src={heroimage} alt="Heroimage" />
    </div>
    <div class="page-heading">
      <h1>Latest Blog Post</h1>
      <p>
        Huge number of properties available here for buy and sell <br />
        also you can find here co-living property as you like
      </p>
    </div>
  </div>
  <div class="container">
    <div class="card-grid">
      {Blogs.map((blog) => <BlogCard {...blog} />)}
    </div>
  </div>
</Layout>

<style>
  .card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: row;
  }

  .hero-image {
    height: 30rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      filter: brightness(70%);
    }
  }

  .page-heading {
    color: #dddddd;
    position: relative;
    text-align: center;
    top: -15rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 16px;
    }
  }

  @media (max-width: 740px) {
    .card-grid {
      grid-template-columns: auto auto;
    }
  }
</style>
