---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import heroimage from "/public/images/home-1.jpg";
import properties from "../assets/popular-properties.json";
import Card from "../components/Card.astro";
---

<Layout>
  <div>
    <div class="hero-image">
      <Image src={heroimage} alt="Heroimage" />
    </div>
    <div class="page-heading">
      <h1>Properties</h1>
      <p>
        Huge number of properties available here for buy and sell <br />
        also you can find here co-living property as you like
      </p>
    </div>
  </div>
  <div class="card-grid">
    {properties.map((property) => <Card {...property} id="card" />)}
  </div>
</Layout>

<style>
  .hero-image {
    height: 30rem;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(70%);
    }
  }

  .page-heading {
    color: #dddddd;
    position: relative;
    text-align: center;
    top: -15rem;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 16px;
    }
  }

  .card-grid {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  @media screen and (max-width: 1200px) {
    .card-grid {
      grid-template-columns: auto auto auto ;
    }
  }
  
  @media screen and (max-width: 900px) {
    .card-grid {
      grid-template-columns: auto auto;
    }
  }

  @media screen and (max-width: 580px) {
    .card-grid {
      grid-template-columns: auto;
    }
  }
</style>
