---
import logo from '/public/images/logo.svg?raw'
---

<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">
          <Fragment set:html={logo} />
        </a>

        <p class="section-text">
          Porperties are most budget friendly so you have opporutnity is main responsibility to clients.
          <span>&copy;Sikander. All rights reserved - Privacy Policy</span>
        </p>

        <ul class="contact-list">
          <li>
            <a href="#" class="contact-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>2104 Charmaine Lane Amarlio New York</address>
            </a>
          </li>

          <li>
            <a href="tel:+0123456789" class="contact-link">
              <ion-icon name="call-outline"></ion-icon>

              <span>+0123-456789</span>
            </a>
          </li>

          <li>
            <a href="mailto:contact@homeverse.com" class="contact-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>contact@homeverse.com</span>
            </a>
          </li>
        </ul>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-link-box">
        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Information</p>
          </li>

          <li>
            <a href="#" class="footer-link">About us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Properties</a>
          </li>

          <li>
            <a href="#" class="footer-link">Payment</a>
          </li>

          <li>
            <a href="#" class="footer-link">My account</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog Post</a>
          </li>
        </ul>

        <ul class="footer-list">
          <li>
            <p class="footer-list-title">Support</p>
          </li>

          <li>
            <a href="#" class="footer-link">Add Property</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms & Conditions</a>
          </li>

          <li>
            <a href="#" class="footer-link">Helpline</a>
          </li>

          <li>
            <a href="#" class="footer-link">Our Agents</a>
          </li>

          <li>
            <a href="#" class="footer-link">Features</a>
          </li>
        </ul>
        <ul class="footer-list">
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p class="copyright">
        &copy; 2024 <a href="#">Sikander</a>. All Rights Reserved
      </p>
    </div>
  </div>
</footer>
